{% extends "base.html" %}
{% load is_booked on_favs i18n %}

{% block page_title %}
{{room.name}}
{% endblock page_title %}

{% block content %}

<head>
    <link rel="stylesheet" href="../../static/libraries/flickity-docs/flickity.min.css" media="screen">
    <script src="../../static/libraries/flickity-docs/flickity.pkgd.min.js"></script>

</head>


<script type="text/javascript">
    $(document).ready(function () {
        $('.carousel-main').flickity(
            {
                prevNextButtons: false,

            }
        );
        // 2nd carousel, navigation
        $('.carousel-nav').flickity({
            asNavFor: '.carousel-main',
            contain: true,
            pageDots: false,
            prevNextButtons: false,

        });
    });
</script>


<div id="shopify-section-image-with-text-1" class="product-section">
    <section class="image-with-text image-with-text--full_background">
        <div class="image-with-text__inner">
            <div id="product-picture"
                class=" image-with-text__media image-with-text__media--right image-with-text__media--square">
                <div>
                    <div class="carousel carousel-main pb-10" data-flickity='{"prevNextButtons": false,
                        }'>
                        {% for photo in room.photos.all  %}
                        <div class="carousel-cell-product">
                            <img src="{{photo.file.url}}" class="" />
                        </div>
                        {% endfor %}
                    </div>

                    <div class="carousel carousel-nav pt-20" data-flickity='{ "asNavFor": ".carousel-main", "contain": true, "pageDots": false, "prevNextButtons": false,
                        }'>
                        {% for photo in room.photos.all  %}
                        <div class="carousel-cell-product">
                            <img src="{{photo.file.url}}" class="" />
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="image-with-text__content
        image-with-text__content--medium
        
        ">


                <h2 class="image-with-text__heading">
                    {{room.name}}
                </h2>



                <div class="image-with-text__text rte">
                    <p>100g</p>
                </div>

                <div class="image-with-text__text rte">
                    <p>価格: ¥{{room.price}}</p>
                </div>
                {% on_favs room as on_favs_boolean %}
                {% if on_favs_boolean %}
                <a class="block mb-10 w-2/6 text-teal-600 font-bold"
                    href="{% url 'lists:toggle-room' room.pk %}?action=remove">{% trans "Remove from Favourites" %}</a>
                {% else %}
                <a class="block mb-10 w-2/6 text-teal-600 font-bold"
                    href="{% url 'lists:toggle-room' room.pk %}?action=add">{% trans "Save to Favourites" %}</a>
                {% endif %}

                <div class="w-1/3">
                    {% if room.host == user %}
                    <a href="{% url 'rooms:edit' room.pk %}" class="btn-link block">Edit Room</a>
                    {% else %}
                    {% if not request.session.is_hosting %}
                    {% for calendar in room.get_calendars %}
                    <div class="mb-20">
                        <span class="text-center font-semibold text-lg block mb-8">{{calendar.get_month}} /
                            {{calendar.year}}</span>
                        <div class="cal-grid font-medium mb-4">
                            {% for day in calendar.day_names  %}
                            <span>{{day}}</span>
                            {% endfor %}
                        </div>
                        <div class="cal-grid">
                            {% for day in calendar.get_days  %}
                            {% is_booked room day as is_booked_bool %}
                            {% if day.number != 0 %}
                            {% if day.past %}
                            <span class="cal-number bg-gray-200 text-gray-400">{{day}}</span>
                            {% elif is_booked_bool %}
                            <span class="cal-number bg-gray-200 text-gray-400 line-through">{{day}}</span>
                            {% else %}
                            <a href="{% url 'reservations:create' room.pk day.year day.month day.number %}"
                                class="cal-number bg-gray-200 text-gray-700 hover:bg-teal-400 hover:text-white hover:font-medium">{{day}}</a>
                            {% endif %}
                            {% else %}
                            <span></span>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endif %}
                </div>


                <div class="mt-10">
                    <h4 class="font-medium text-2xl mb-5">Reviews</h4>
                    <div class="flex items-center">
                        <div>
                            <i class="fas fa-star text-teal-500"></i>
                            <span class="font-bold text-xl">{{room.total_rating}}</span>
                        </div>
                        <div class="h-4 w-px bg-gray-400 mx-5"></div>
                        <div>
                            <span class="font-bold text-xl">{{room.reviews.count}}</span>
                            <span>review{{room.reviews.count|pluralize}}</span>
                        </div>
                    </div>
                    <div class="mt-10">
                        {% for review in room.reviews.all  %}
                        <div class="border-section">
                            <div class="mb-3 flex">
                                <div>
                                    {% include "mixins/user_avatar.html" with user=review.user h_and_w='w-10 h-10' text='text-xl' %}
                                </div>
                                <div class="flex flex-col ml-5">
                                    <span class="font-medium">{{review.user.first_name}}</span>
                                    <span class="text-sm text-gray-500">{{review.created|date:'F Y'}}</span>
                                </div>
                            </div>
                            <p>{{review.review}}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>



<div class="container mx-auto flex justify-around pb-56">
    <div class="w-1/2">



        <p class="border-section">
            {{room.description}}
        </p>

    </div>

</div>

</div>

{% endblock content %}