{% extends "base.html" %}
{% load i18n %}

{% block page_title %} Home {% endblock page_title %}
{%block content %}

<script type="text/javascript">
    $(document).ready(function () {
        $('.top-slider__container').slick({
            infinite: true,
            dots: true,
            arrows: true,
            autoplay: true, //自動再生
            autoplaySpeed: 2400,
            speed: 2500,
            fade: true,
            responsive: [{
                breakpoint: 756,
                settings: {
                    centerMode: false,
                }
            }]
        });
    });
</script>


<div class="container mx-auto pb-10">
    <div class="top-slider">
        <div class="top-slider__container">
            <div class="rounded-xl bg-gray-800 h-50vh mt-32 mb-20 bg-cover bg-center"
                style="background-image: url(https://images.unsplash.com/photo-1559925393-8be0ec4767c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80);">

            </div>
            <div class="rounded-xl bg-gray-800 h-50vh mt-32 mb-20 bg-cover bg-center"
                style="background-image: url(https://images.unsplash.com/photo-1554118811-1e0d58224f24?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1930&q=80);">

            </div>
            <div class="rounded-xl bg-gray-800 h-50vh mt-32 mb-20 bg-cover bg-center"
                style="background-image: url(https://images.unsplash.com/photo-1445116572660-236099ec97a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80);">

            </div>
        </div>
    </div>
    <div class="flex flex-wrap mb-10">
        {% for room in rooms %}
        {% include "mixins/room_card.html" with room=room %}
        {% endfor %}
    </div>

    <div class="flex items-center justify-center mx-auto container">
        {%if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}" class="text-teal-500"><i
                class="fas fa-arrow-left fa-lg"></i></a>
        {% endif%}

        <span class="mx-3 font-medium text-lg">
            {% blocktrans with current_page=page_obj.number total_pages=page_obj.paginator.num_pages %}Page{{current_page}}
            of {{total_pages}}{% endblocktrans %}</span>

        {%if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}" class="text-teal-500"><i class="fas fa-arrow-right fa-lg"></i></a>
        {%endif%}
    </div>


</div>
{% endblock content %}