{% extends "base.html" %}
{% load static i18n %}

{% block page_title %} Home {% endblock page_title %}
{%block content %}

<script type="text/javascript">
    var elem = document.querySelector('.carousel');
    var flkty = new Flickity(elem, {
        // options

        autoPlay: 4500
    });

    // element argument can be a selector string
    //   for an individual element
    var flkty = new Flickity('.carousel', {
        // options
    });
</script>


<div class="top-slider__container top-slider-flickity">
    <div class="carousel" data-flickity='{ "autoPlay": 4500 }'>
        <div class="carousel-cell-top w-full h-auto">
            <a href="#">
                <img src="{% static 'img/vya-naturals-M3l24oENY2c-unsplash.jpg' %}" alt="">
                <!-- <p class="top-slider__item-copy">無添加石鹸本舗</p> -->
            </a>
        </div>
        <div class="carousel-cell-top w-full h-auto">
            <a href="#">
                <img src="https://cdn.shopify.com/s/files/1/0841/9787/files/madara_banner-TM.jpg?16486120101836694213"
                    alt="">
                <!-- <p class="top-slider__item-copy">無添加石鹸本舗</p> -->
            </a>
        </div>

        <div class="carousel-cell-top w-full h-auto">
            <a href="#">
                <img src="https://thumbs.dreamstime.com/z/summer-sunscreen-cream-banner-ads-beach-background-d-illustration-flat-lay-summer-sunscreen-cream-banner-ads-159510903.jpg"
                    alt="">
                <!-- <p class="top-slider__item-copy">無添加石鹸本舗</p> -->
            </a>
        </div>
    </div>
</div><!-- /.top-slider -->

<div id="s-f4a0e18d-ea41-4be1-a192-a6b77fed1b4d" class="shg-c product-feature-container ">
    <section class="products-masonry">
        <div class="container">

            <div class="products-masonry__head">
                <div class="title pt-20 pb-10">おすすめ特集</div>

            </div>


            <div class="products-masonry__items">
                <div class="item">
                    <div class="item__overlay" style="background-color: #7fcbaa; 
          background-image: url('');">
                    </div>
                    <div class="item__inner">
                        <div class="item__image">
                            <a href="/pages/pregnacare">
                                <img src="{% static 'img/pngguru.com.png' %}"> </a>
                        </div>

                        <div class="item__info">
                            <h3 class="item__title"><a title="Pregnacare - Pregnancy Supplements Page"
                                    href="/pages/pregnacare">日焼け止め</a></h3>
                            <div class="price">うっかりヒヤケを防ぐために</div>
                            <a href="/pages/pregnacare" class="button">詳しくはこちら</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item__overlay" style="background-color: #a2c7e2; 
          background-image: url('');">
                    </div>
                    <div class="item__inner">
                        <div class="item__image">
                            <a href="/pages/wellman">
                                <img src="{% static 'img/pngwing.com.png' %}">
                            </a>
                        </div>

                        <div class="item__info">
                            <h3 class="item__title"><a title="Wellman - Men's Supplements Page"
                                    href="/pages/wellman">ヘリオケア</a></h3>
                            <div class="price">飲むだけ！日差し対策</div>
                            <a href="/pages/wellman" class="button">詳しくはこちら</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item__overlay" style="background-color: #d8c4e5; 
          background-image: url('');">
                    </div>
                    <div class="item__inner flex items-center">
                        <div class="item__image">
                            <a href="/pages/wellwoman">
                                <img
                                    src="{% static 'img/FAVPNG_biotin-dietary-supplement-tablet-vitamin-b-12_DhpKxkJE.png' %}">
                            </a>
                        </div>

                        <div class="item__info">
                            <h3 class="item__title"><a title="Wellwoman - Women's Supplements Page"
                                    href="/pages/wellwoman">ビオチン</a></h3>
                            <div class="price">地肌の環境を整える</div>
                            <a href="/pages/wellwoman" class="button">詳しくはこちら</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-slider__dots"></div>
        </div>
    </section>

</div>
<div id="s-f4060b7f-c074-42d2-ac84-2de7cfbb1718" class="shg-c product-feature-container ">
    <section class="products-masonry">
        <div class="container">


            <div class="products-masonry__items">
                <div class="item">
                    <div class="item__overlay" style="background-color: #62cbc9; 
          background-image: url('');">
                    </div>
                    <div class="item__inner">
                        <div class="item__image">
                            <a href="/collections/immune-system-support">
                                <img src="{% static 'img/pngbarn.png' %}"> </a>
                        </div>

                        <div class="item__info">
                            <h3 class="item__title"><a title="Immune Support Supplements Page"
                                    href="/collections/immune-system-support">ビタミンC</a></h3>
                            <div class="price">暑い季節も健やか肌に</div>
                            <a href="/collections/immune-system-support" class="button">詳しくはこちら</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item__overlay" style="background-color: #edc6dc; 
          background-image: url('');">
                    </div>
                    <div class="item__inner">
                        <div class="item__image">
                            <a href="/pages/wellkid-peppa-pig">
                                <img src="{% static 'img/pngguru.com (1).png' %}"></a>
                        </div>

                        <div class="item__info">
                            <h3 class="item__title"><a title="Wellkid Peppa Pig Supplements Page"
                                    href="/pages/wellkid-peppa-pig">プロテイン</a></h3>
                            <div class="price">いつものプロテインにハーモニー</div>
                            <a href="/pages/wellkid-peppa-pig" class="button">詳しくはこちら</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item__overlay" style="background-color: #C2A6E1; 
          background-image: url('');">
                    </div>
                    <div class="item__inner">
                        <div class="item__image">
                            <a href="/pages/perfectil">
                                <img src="{% static 'img/pngegg.png' %}"> </a>
                        </div>

                        <div class="item__info">
                            <h3 class="item__title"><a title="Perfectil Supplements"
                                    href="/pages/perfectil">オーガニックコスメ</a></h3>
                            <div class="price">自然の素材で、肌に優しく</div>
                            <a href="/pages/perfectil" class="button">詳しくはこちら</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-slider__dots"></div>
        </div>
    </section>

</div>



<div class="top-products">
    <section class="top-products__ttl">
        <h2 class="top-products__ttl-text"></h2>
    </section>
    <div class="inner">
        <!-- 商品紹介メイン画像 -->
        <div class="top-products__fig">
            <a href="#">
                <img
                    src="https://cdn.artboard.co/private/Facebook_1845037855756103/projects/5d52bfd6f6f1250022470760/preview.png?ver=1565704195220">
            </a>
        </div>

        <!--/.top-products__cards -->
        <div class="top-products__container">
            <section class="top-products__lists">
                {% for room in rooms %}

                {% for photo in room.photos.all  %}
                {% if forloop.counter == 1 %}
                <div class="top-products__list text-center py-16">
                    <a href="{% url 'rooms:detail' room.pk %}">
                        <img src="{{photo.file.url}}" class="" />
                        <h3 class="top-products__list-item-title "> {{room.name}}</h3>



                        <h3 class="top-products__list-item-title">¥{{room.price}}</h3>
                    </a>
                </div>
                {% else %}
                {% endif %}
                {% endfor %}
                {% endfor %}
            </section>
        </div><!-- /.top-products__lists -->
    </div>
    <!--/.top-products__container -->
</div>
<!--/.inner -->

</div>
<!--/.top-products -->

<!-- <div class="flex flex-wrap mb-10">
    {% for room in rooms %}
    {% include "mixins/room_card2.html" with room=room %}
    {% endfor %}
</div> -->





<!-- 
<div class="flex items-center justify-center mx-auto container">
    {%if page_obj.has_previous %}
    <a href="?page={{page_obj.previous_page_number}}" class="text-teal-500"><i class="fas fa-arrow-left fa-lg"></i></a>
    {% endif%}

    <span class="mx-3 font-medium text-lg">
        {% blocktrans with current_page=page_obj.number total_pages=page_obj.paginator.num_pages %}Page{{current_page}}
        of {{total_pages}}{% endblocktrans %}</span>

    {%if page_obj.has_next %}
    <a href="?page={{page_obj.next_page_number}}" class="text-teal-500"><i class="fas fa-arrow-right fa-lg"></i></a>
    {%endif%}
</div>



 -->

</div>
{% endblock content %}